<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Field Research</title>
</head>
<body>
    <h1>Edit Field</h1>
    <form action="/field/<%= field.id %>?_method=PATCH" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="_method" value="PATCH">
        <div>
            <label for="fieldName">Name:</label>
            <input type="text" id="fieldName" name="fieldName" value="<%= field.fieldName %>" required>
        </div>
        <div>
            <label for="cover">Cover:</label>
            <input type="file" id="cover" name="cover">
        </div>
        <button type="submit">Update Category</button>
    </form>
</body>
</html>